<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                
                    <a class="nav-link {% if uri == '/' %} active {% endif %}" href="/">
                        <span data-feather="home"></span>
                        Veículos <span class="sr-only">(current)</span> {{ teste }}
                    </a>

            </li>
            <li class="nav-item">
                <a class="nav-link {% if uri == 'controle-veiculos' %} active {% endif %}" href="/controle-veiculos">
                    <span data-feather="file"></span>
                    Controle de veículos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if uri == 'aluguel-veiculos' %} active {% endif %}" href="/aluguel-veiculos">
                    <span data-feather="shopping-cart"></span>
                    Aluguel de veículos
                </a>
            </li>
        </ul>
    </div>
</nav>