{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Alugar Veículos</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <input type="text" class="form-control" name="marca" placeholder="Endereço" required>
                </div>
                <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" name="ano"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        maxlength="4" placeholder="Telefone" required>
                </div>
                <div class="col-md-4 mb-3">
                    <select class="form-control">
                        <option>Selecione o Veículo</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </form>
    </div>
</div>
{% endblock %}