{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Alugar Veículos</h5>
    </div>
    <div class="card-body">
        <form method="POST" action="alugar-carro">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input type="text" class="form-control" name="nome_locatario" placeholder="Nome do locatário"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input type="text" class="form-control" name="endereco_locatario"
                        placeholder="Endereço do locatário" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="cpf" name="cpf_locatario"
                        placeholder="Cpf" required>
                </div>
                <div class="col-md-4 mb-3">
                    <select class="form-control" name="selecionar_veiculo_alugar" required>
                        <option value="">Selecione o Veículo</option>
                        {% for item in listarVeiculosNaoAlugados %}
                        <option value="{{item.id}}">{{ item.modelo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="telefone-locatario" name="telefone_locatario"
                        placeholder="Telefone do locatário" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="valor-aluguel" name="valor_aluguel"
                        placeholder="Valor do Aluguel" required> 
                </div>
                <div class="col-md-4 mb-3">
                    <input type="date" class="form-control" name="data_locacao" 
                        placeholder="Data de locação" required>
                        <small>Data de locação</small>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="date" class="form-control"  name="data_entrega_locacao"
                        placeholder="Data de entrega" required>
                        <small>Data de entrega</small> 
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </form>
    </div>
</div>

<div class="card" style="margin-top:20px">
    <div class="card-body">
        <table id="tabela" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nome do Locatário</th>
                    <th>Telefone do Locatário</th>
                    <th>Valor do Aluguel</th>
                    <th>Modelo do veículo</th>
                    <th>Placa</th>
                    <th>Data de locação</th>
                    <th>Data de Entrega</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in veiculosAlugados%}
                <tr>
                    <td>{{item.nome}}</td>
                    <td>{{item.telefone}}</td>
                    <td>{{item.valor_contratado}}</td>
                    <td>{{item.modelo}}</td>
                    <td>{{item.placa}}</td>
                    <td>{{item.data_aluguel | date("d/m/Y")}}</td>
                    <td>{{item.data_expiracao | date("d/m/Y")}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" onclick="$('#form{{item.id}}').submit()">Cancelar
                            locação</button>
                        <form method="POST" action="devolucao-carro" id="form{{item.id}}" >
                            <input type="hidden" name="id_carro" value="{{item.id_carro}}" />
                            <input type="hidden" name="id_remocao_carro_alugado" value="{{item.id}}" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}