{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <table id="controle-veiculos" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th>Placa</th>
                    <th>Veículo alugado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary">Editar</button>
                        <button type="button" class="btn btn-sm btn-danger">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}